#person {
    font-size: 25px;
    height: 186px;
    position: relative;
}
#torso, #lower {
    display: flex;
}
#head {
    font-size: 40px;
    position: absolute;
    top: 0;
}
#torso {
    font-size: 35px;
    top: 30px;
    position: absolute; 
    left: -1px;
}
#arm-left {
    margin-top: 2px;
    margin-right: -5px;
}
#arm-right {
    margin-left: -5px;
    margin-top: 2px;
}
#lower {
    font-size: 35px;
    top: 60px;
    position: absolute;
    right: -24px;
}
.intact {
    visibility: hidden;
}
#pole {
    border-right: 5px solid brown;
    border-top: 5px solid brown;
    width: 80px;
    height: 138px;
    position: absolute;
    right: 178px;
    top: 137px;
}
#rope {
    position: absolute;
    top: 129px;
    right: 233px;
    font-size: 40px;
}